p {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
p {
  text-align: center;
}
h1 {
  font-size: 32px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  padding: 1em 2em 2em 10em;
}
figure {
  float: right;
}
figcaption {
  font-style: italic;
}
table,
th,
td {
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  border: 1px solid black;
  margin: auto;
}
